@charset "utf-8";
/********************
    Default set
********************/
html,body,form,div,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,fieldset,table,th,td{margin:0;padding:0;font-weight:normal}
body{font-family:"Malgun Gothic","맑은 고딕","돋움",Dotum,"굴림",Gulim;font-size:24px;line-height:1.3;letter-spacing:-2px;}
html,body{height:100%}
input, textarea, select{padding:0;color:#666}
a:link, a:visited, a:hover, a:active{text-decoration:none}
button{margin:0;padding:0;border:0;background:none;width:auto;cursor:pointer}
button:focus,a:focus,input:focus,textarea:focus,select:focus,input[type="checkbox"]:focus+label{outline:1px dotted #4b4b4b}
img{display:inline-block; border:none}
table{width:100%;table-layout:fixed;border-collapse:collapse;border-spacing:0;border:0;}
th,td{border:0;word-break:break-all}
caption,legend{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0}
ol,ul{list-style:none}
em{font-style:normal}address {font-style:normal;}
.clearfix:after{content:"";display:block;clear:both;zoom:1}
* html .clearfix{zoom:1} /* IE6 */
*:first-child+html .clearfix{zoom:1} /* IE7 */
img { float: left; }
/********************
   layout
********************/
/*
#wrap {min-width:320px; max-width:1000px; padding-top:20px; margin:0 auto;}
.progress_wrap {position:fixed; top:0; left:0; width:100%; height:20px; background:#fff; z-index:10;}
.progress_wrap .bar {display:block; position:relative; width:100%; height:6px; margin-top:6px; background:#999; border-radius:10px;}
.progress_wrap .bar .per {position:absolute; top:0; left:0; width:0; height:6px; background:#1a70c9; border-radius:10px; transition: width 1s;}
#container .tit_area {max-width:720px; margin:85px auto 0;}
#container .tit_area.sub_txt{margin-top:0px;}
#container .tit_area .tit_h1 {font-size:80px; color:#222; line-height:1.3; letter-spacing:-6px;}
#container .tit_area .tit_h1 strong {display:block; font-weight:bold;}
#container .tit_area .txt {margin-top:35px;}
.contents {max-width:720px; padding:0 14%; margin:0 auto;}
*/
#wrap {min-width:320px; ax-width:1000px; padding-top:20px; margin:0 auto;}
.progress_wrap {position:fixed; top:0; left:0; width:100%; height:20px; background:#fff; z-index:10;}
.progress_wrap .bar {display:block; position:relative; width:100%; height:6px; margin-top:6px; background:#999; border-radius:10px;}
.progress_wrap .bar .per {position:absolute; top:0; left:0; width:0; height:6px; background:#1a70c9; border-radius:10px; transition: width 1s;}
#container .tit_area {margin:85px 25% 0 25%;}
#container .tit_area .tit_h1 {font-size:80px; color:#222; line-height:1.3; letter-spacing:-4px;}
#container .tit_area .tit_h1 strong {display:block; font-weight:bold;}
#container .tit_area .txt, p.txt {margin-top:35px;}
.contents {padding:0 25%; margin:0 auto;}

.tbl_area {margin:55px 0 0;}
.tbl_area ol.mbt {margin-bottom: 40px;}
.tbl_area .tit {display:block; margin-bottom:10px; color:#222; font-size:28px;}
/*.tbl_area ol {border-top:4px solid #222;}*/
.tbl_area ol:first-child li {display:table; width:100%; table-layout:fixed; width:100%; border-top:1px solid #ccc;}
.tbl_area ol li {display:table; width:100%; table-layout:fixed; width:100%; border-bottom:1px solid #ccc;}
.tbl_area ol li san.bg {background:#f8f8f8;}
.tbl_area ol li span.num {display:table-cell; width:20%; padding:20px 10px; vertical-align: top; text-align:center; font-size:28px; color:#222; border-right:1px solid #ccc;}
.tbl_area ol li span.txt {display:table-cell; width:80%; padding:20px 10px; vertical-align: top; font-size:28px; color:#222;}
.tbl_area p{margin: 20px 0 20px 0;}

.contents .tit_h2 {padding-bottom:10px;border-bottom:4px solid #222; font-size:50px; color:#222; line-height:1.2; font-weight:bold; letter-spacing:-3px;}
.contents .tit_h2:after {display:inline-block; width:10px; height:10px; margin-left:5px; border-radius:20px;content:""; vertical-align:bottom;}
.contents .item02,.contents .item03 {position:relative;}
.contents .item02 .tit:before, .contents .item02 dl:before {display:block; position:absolute; left:0; top:-1px; width:100%; height:2px; background:url("img_hr.png") repeat-x 0 0; content:"";}
.contents .item03 .tit:before, .contents .item03 dl:before {display:block; position:absolute; left:0; top:-1px; width:100%; height:2px; background:url("img_hr.png") repeat-x 0 0; content:"";}
.contents .content01 {margin-top:70px;}
.contents .content02 {margin-top:70px;}
.content01 .con_box > div {display:table; table-layout:fixed; width:100%; padding:40px 0 10px;}
.content01 .tit {display:table-cell; width:360px; vertical-align:top;}
.content01 .cont {display:table-cell; vertical-align:top;}
.tit .tit_h3 {font-size:40px; color:#222; letter-spacing:-2px;}
.tit p {margin-top:15px; font-size: 22px;}
.content01 .cont dl {margin-bottom:30px;}
.content01 .cont dl dt {font-size:35px; color:#000; font-weight:bold;}
.content01 .cont dl dt.t_tit {font-size:26px;}
.content01 .cont dl dd {margin-top:10px;}
.content01 .cont dl dd.tit {padding-top:10px;font-size:22px;}
.content01 .con_box .item01 {background:url("../img/bg_img01.gif") no-repeat 110px bottom;}
.content01 .con_box .item02 {background:url("../img/bg_img02.gif") no-repeat 110px bottom;}
.content02 .con_box dl {padding:40px 0;}
.content02 .con_box dl dt {margin-bottom:10px; font-size:35px; color:#222; font-weight:bold; line-height:1.2;}
.content02 .con_box dl dt:after {display:inline-block; width:10px; height:10px; margin-left:10px; border-radius:20px; background:#2b7da7; content:""; vertical-align:bottom;}
.content02 .con_box dl dd {}
.contents .dot_list {}
.contents .dot_list > li {padding-left:14px; text-indent:-14px;}
.contents .dot_list > li:before {display:inline-block; width:6px; height:6px; margin-right:7px; background:#2b7da7; border-radius:10px; content:""; vertical-align:middle;}
.contents .num_list > li {padding-left:22px; text-indent:-22px;}
.contents .dot_list > li + li, .contents .num_list > li + li {margin-top:8px;}
.btn_area {margin-top:50px; text-align:center;}
.btn_area a {display:inline-block; width:390px; background:#1c86b2; color:#fff; font-size:26px; line-height:70px; text-align:center;}
#footer {height:80px; margin-top:100px; background:#f5f5f5;}
#footer .inner {max-width:1000px; padding:17px 0 0; margin:0 auto; background:#f5f5f5; color:#333; font-size:14px; text-align:center; letter-spacing:-1px;}
#footer .inner .copy {margin-top:5px;}
@media (max-width:850px){
           body {font-size:18px;}
           #container .tit_area .tit_h1 {font-size:65px;}
           .contents .tit_h2 {font-size:35px;}
           .tit .tit_h3 {font-size:25px;}
           .tit p {font-size:14px;}
           #container .tit_area {margin:50px 5% 0 5%;}
           .contents {padding:0 5%;}
           .contents .content01 {margin-top:40px;}
           .content01 .con_box > div {padding:20px 0 10px;}
           .content01 .tit {width:30%;}
           .content01 .cont {padding-left:20px;}
           .content01 .cont dl {margin-bottom:15px;}
           .content01 .cont dl dt {font-size:25px;}
           .content01 .con_box .item01 {background:url("../img/bg_img01.gif") no-repeat 0 bottom;}
           .content01 .con_box .item02 {background:url("../img/bg_img02.gif") no-repeat 0 bottom;}
           .content02 .con_box dl {padding:20px 0;}
           .content02 .con_box dl dt {font-size:25px;}
           .btn_area {margin-top:30px;}
           .btn_area a {width:100%; max-width:390px;}
           #footer .inner {padding-bottom:15px;}
}